footer.footer
  .footer__element element
  .footer__element.-mod1 element mod1
  .footer__element.-mod2 element mod2
  .footer__element.-mod3 element mod3
  .footer__element.-mod2.-mod3 element mod2 i mod3
