doctype html
html( lang="pl")
  head
    title Szablon

    meta(charset='utf-8')
    meta(name='title', content='Szablon')
    meta(name='description', content='Szablon opis')
    meta(name='keywords', content='Szablon keywords')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    link(href='assets/styles/main.min.css', rel='stylesheet')

  body
    include ../components/header/header
    block content
    include ../components/footer/footer
    
    
    script(src='assets/scripts/main.min.js' type="text/javascript")
