header.header
  a.header__logo(href="#")
    img.header__image(src="assets/images/header/logo.png" alt="logo")
  .header__element element
  .header__element.-mod1 element mod1
  .header__element.-mod2 element mod2
  .header__element.-mod3 element mod3
  .header__element.-mod2.-mod3 element mod2 i mod3
