.header
  &__logo
    display: flex
    align-items: center
    justify-content: center
    padding: 20px 0
    width: 100%

    &:hover
      background-color: $red

  &__image
    display: block
    max-width: 100%
    height: auto

  &__element
    &.-mod1
      background-color: $red

    &.-mod2
      background-color: $blue

    &.-mod3
      color: $yellow
      font-weight: 700
      text-align: center
