=container
  +clearfix
  width: 100%
  max-width: 1240px
  margin: 0 auto
  padding: 0 20px

.container
  +container

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%

body
  position: relative
  min-width: 320px

input
  -webkit-appearance: none
