=cms
  display: block
  width: 100%

  //HTML Text
  p
    margin-bottom: 20px
    font-style: normal
    line-height: 1.2

  //HTML Text Formatting Elements
  strong
    font-weight: 700

  b
    font-weight: bold

  em, i
    font-style: italic

  u, ins
    text-decoration: underline

  small
    font-size: smaller

  mark
    background-color: yellow
    color: inherit

  del
    text-decoration: line-through

  sub
    font-size: smaller
    vertical-align: sub

  sup
    font-size: smaller
    vertical-align: super

  //HTML Lists
  ul
    display: block
    margin-bottom: 20px
    margin-left: 25px
    padding-left: 15px
    list-style-type: disc

    ul
      margin-bottom: 0

    ol
      margin-bottom: 0

  ol
    display: block
    margin-bottom: 20px
    margin-left: 25px
    padding-left: 20px
    list-style-type: decimal

    ul
      margin-bottom: 0

    ol
      margin-bottom: 0

  // Image
  img
    display: block
    max-width: 100%
    height: auto
    margin: 0 auto 20px

  // Link
  a
    color: inherit
    text-decoration: none

    &:hover
      text-decoration: underline

  hr
    height: 10px
    margin-bottom: 30px
    border: 0 none
    border-bottom: 1px dashed $black

  h1, h2, h3, h4, h5, h6
    margin-bottom: 20px
    color: inherit
    line-height: 1.1

  h1
    margin-bottom: 20px
    transition: 0.3s
    font-size: 33px
    font-weight: normal

    +max(610)
      font-size: 26px

  h2
    margin-bottom: 15px
    transition: 0.3s
    font-size: 20px
    font-weight: nirmal
    +max(610)
      font-size: 16px

  h3
    margin-bottom: 15px
    font-size: 15px
    font-weight: bold

  h4
    font-size: 14px

  h5
    font-size: 14px

  h6
    font-size: 14px

  .alignnone
    margin: 5px 20px 20px 0

  .alignright
    margin: 5px 0 20px 20px
    float: right

  .alignleft
    margin: 5px 20px 20px 0
    float: left

  .cms-image-floated
    +max(767)
      display: none


.cmsContainer
  +cms

br.only-mobile
  +min(798)
    display: none
